.control form{
    background-color: aqua;
    border-radius: 3rem;
    margin-top: 2rem;
    height: 24rem;
    padding: 2rem;
    
}
.control input{
    width: 20rem;
    border-radius: 1rem;
    padding: 0.5rem;

}
.control label{
  
    margin-right: 16rem;
    
}