.control{
    background-color:red;
}
.control ul{
    
    display: flex;
    list-style: none;
    padding: 2rem;
    justify-content: space-around;
}
.control a{
 text-decoration: none;
 color: black;
}
a:hover,
a:active {
  background-color: #08971b;
  border-color: #384700;
  text-decoration:underline;
}

