.nav{
    display:flex;
    height:5rem;
    background-color:pink;
    position: fixed;
    width: 100%;
}
.nav li{
    list-style: none;
    align-items: center;
    padding-block:inherit;
    border-radius: 12px;
    text-align: center;
    justify-content: space-between;
    padding-block: 0.8rem;
    margin-top: 1rem;
    width: fit-content;
    
    
}
.li1{
   
    color:black;
    background-color:gray;
    height: fit-content;
    margin-top: 2rem;
    margin-left: 10rem;
    

    

}
.li2{
    
    margin: auto;
    color:black;
    background-color:gray;
    height: fit-content; 
    margin-top: 2rem;
    margin-left: 5rem;
    
}
.li3{
    
    color:black;
    background-color:gray;
    height: fit-content; 
    margin-top: 2rem;
    margin-right: 60rem;
    

}
