.nav{
    display:flex;
    height:5rem;
    background-color: white;
}
.nav li{
    list-style: none;
    align-items: center;
    padding-block:inherit;
    border-radius: 100px;
}
.li1{
    margin-left: 40%;
    color:black;
    background-color:gray;
    height: fit-content;
    margin-top: 2rem;

    

}
.li2{
    margin: auto;
    color:black;
    background-color:gray;
    height: fit-content; 
    margin-top: 2rem; 
    
}
.li3{
    margin-right: 40%;
    color:black;
    background-color:gray;
    height: fit-content; 
    margin-top: 2rem;
    

}
.button{
    color:red;
    background-color: cornflowerblue;
    height: fit-content;
    margin-top: 2rem; 
    border-radius: 1rem;
}